@media (max-width: $tablet__size){
  .desktop-only{
    display:none;
  }
}
.responsive-padding{
  @media (max-width: $widescreen__size){
    margin: 0 auto;
    .boxed-column-child{
      max-width: 90%;
      margin: 0 auto;
    }
  }
}
