.menu-bar-icon {
	margin: 0px 20px 0 25px;
	// float: left;
	text-align: left;
	width: 100%;

	.FaAnchor {
		color: #fff;
		height: 26px;
		width: 26px;
	}
}

.FaWhatsapp {
	margin-right: 10px;
	vertical-align: top;
	margin-top: -2px;
}
