#cardWrapper {
	overflow: hidden;
	display: grid;
	grid-template-columns: 0.2fr 0.6fr 0.2fr;
	grid-template-rows: 0.1fr 0.6fr 0.1fr;
	padding: 20px;

	justify-content: center;

	grid-gap: 5px;
	background: aqua;
	border: 1px solid magenta;
	margin: 5px;

	#card {
		// grid-area: 2/2;
		border: 1px solid red;
		width: 300px;
		height: 500px;
		overflow: hidden;
		justify-self: center;
		padding: 20px;
		position: relative;
		#settings {
			position: absolute;
			top: 0;
			right: 0;
			margin: 25px;
			line-height: 10px;

			small {
				font-size: 10px;
			}
		}
		#null {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			// grid-template-rows: 1fr 1fr 1fr;
			> div,
			> h2 {
				border: 1px dashed gray;
			}

			h2 {
				display: none;
			}
		}
	}

	// display: flex;
	// margin: 0 auto;
}
