body {
	.wrapper-overflow {
		// overflow-y: auto;
		// height: 100%;
		// margin-top: 75px;
		// margin-bottom: 75px;
		// position: fixed;
		// top: 75px;
		width: 100%;
		// background-color: red;

		// .boxed-column-child {
		// 	background-color: blue;
		// }
		.left-highlight {
			background-color: $verylight_brown__bgColor;
			padding: 50px;
			display: flex;
			margin-bottom: 50px; // xxxxx apagar
			h2.lef-title {
				writing-mode: vertical-lr;
				text-orientation: upright;
				font-size: 50px;
				letter-spacing: -15px;
				font-family: 'Oswald';
				text-transform: uppercase;
				color: $cta__color;
				// direction: rtl;
				font-weight: 900;
				// unicode-bidi: bidi-override;
			}

			.box-content {
				flex: 1 1 auto;
				.main-title {
					font-size: 38px;
					color: $dark_brown__bgColor;
				}
				.commom-paragraph {
					margin: 20px 10px;
					color: $dark_brown__bgColor;
					letter-spacing: initial;
					text-align: justify;
					text-align-last: center;
				}
			}
		}
	}
}
