.products-list{
  width: 100%;
  display: block;
  max-width: $widescreen__size;
  margin: 0 auto;

  .products-list-grid{
    display: grid;
    grid-gap: 20px 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: $widescreen__size;
    width: 100%;

    li.product-item{
      position: relative;
      justify-content: center;
      align-self: center;
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      flex-basis: 22%;

      img.product-image{
        max-width: 100%;
        margin-bottom: 15px;
      }

      p.product-artist{
        font-weight: 900;
        text-align: left;

        a.product-artist-link{
          &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            left: 0;
            top: 0;;
          }
        }
      }

      h2.product-title,
      p.product-artist,
      p.product-price,
      p.product-tag{
        font-size: 13px;
        letter-spacing: 1.5px;
        margin: 2px 0;
      }
      p.product-tag,
      p.product-price{
        color: $color__light-grey;
        text-align: left;
      }
      p.product-price{
        float: right;

        &:before{
          content: '$ ';
          color: $color__light-grey;
        }

        &.warn-sold-out{
          color: #EF0000;
          text-transform: uppercase;

          &:before{
            content: '';
          }
        }
      }
    }

  }

  @media (max-width: $widescreen__size){
    max-width: 98%;
  }

  @media (max-width: $tablet__size){
    p.products-list-heading{
      padding-left: 10px;  
    }
    .products-list-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;

      li.product-item{
        padding: 10px;

        &:first-of-type,
        &:last-child{
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .products-list-buttons{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 40px auto 0;

    a.button-black-gray{
      line-height: 34px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}