.first-row {
	background-color: $verylight_brown__bgColor;
	padding: $xl__space;
	display: flex;
	margin-bottom: 50px; // xxxxx apagar
	h3.first-title {
		writing-mode: vertical-lr;
		text-orientation: upright;
		font-size: 50px;
		letter-spacing: -15px;
		font-family: 'Oswald';
		text-transform: uppercase;
		color: $cta__color;
		font-weight: 900;
	}

	.box-content {
		flex: 1 1 auto;
		.main-title {
			font-size: 38px;
			color: $dark_brown__bgColor;
		}
		.commom-paragraph {
			font-size: $s__fontSize;
			margin: $s__space $xxs__space;
			color: $dark_brown__bgColor;
			letter-spacing: initial;
			text-align: justify;
			text-align-last: center;
		}
		// inset 8px 0px 15px 0px #000000
		@import '../../objects/row-icon-motions';
	}
}
