$blue__shadowBox: 0px 5px 10px 0px rgba(3, 14, 51, 0.5);
$brown__shadowBox: 0px 10px 15px 0px rgba(51, 14, 3, 0.5);
$brown__insetShadowBox: -300px 0px 100px 40px rgba(29, 19, 13, 0.3) inset;

$border_tick: #8a6248;

//

$btn_brown__active: #e0c6ac;
$btn_brown__not_active: #c4a483;

// $hero_image__blendBg: #020247;
