// Breakpoints
$widescreen__size: 1170px;
$desktop__size: 960px;
$tablet__size: 768px;
$small__size: 480px;

$xl__maxWidth: 1170px;
$l__maxWidth: 960px;
$m__maxWidth: 768px;
$s__maxWidth: 480px;

//Spaces
$xs__space: 8pt;
$s__space: 16pt;
$m__space: 24pt;
$l__space: 32pt;
$xl__space: 40pt;
$xxl__space: 48pt;

//Borders

$xs__radius: 3px;
$s__radius: 5px;
$m__radius: 8px;
$l__radius: 10px;
$xl__radius: 15px;
$xxl__radius: 20px;
