// Typograph
$main__font: 'Josefin Sans', Arial, sans-serif;
$alternative__font: 'Tahoma';

$xs__fontSize: 12pt;
$s__fontSize: 14pt;
$m__fontSize: 18pt;
$l__fontSize: 23pt;
$xl__fontSize: 26pt;

$h1__fontSize: 30pt;
$h2__fontSize: 24pt;
$h3__fontSize: 22pt;
$h4__fontSize: 20pt;
$h5__fontSize: 18pt;

$l__lineHeight: 1.34;
$h1__lineHeight: 0.77;
$h2__lineHeight: 1.06;
$h3__lineHeight: 1.14;
$h4__lineHeight: 1.25;
$h5__lineHeight: 1.32;
