.row {
  &.white {
    background-color: white;
  }
  &.brow {
    background-color: $light_brown__bgColor;
  }
  &.red {
    background-color: red;
  }
  &.blue {
    background-color: #0059ff;
  }
  &.jum {
    background-color: #62ffa3;
  }
}
body.dark {
  .row {
    &.white {
      background-color: $black__color;
    }
    &.brow {
      background-color: $dark_brown__bgColor;
    }
    &.red {
      background-color: #500505;
    }
    &.blue {
      background-color: #010753;
    }
    &.jum {
      background-color: #0c502e;
    }
  }
}
